#login-form {

	h2, h3 {
		text-align: center;
	}

	h3 {

		font-size: 1.35rem;
		padding:   0.5rem 0 1rem 0;
	}
}

#event-byline {

	p {

		font-size:      1.35rem;
		font-weight:    300;
		text-align:     center;
		padding-top:    2rem;
		margin-bottom: -2rem;
	}
}

#video-container {

	padding: 7rem 0 2rem 0;

	div div video {
		width: 100%;
	}
}