.nav {
  display: none;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  float: right;

  @include breakpoint(medium) {
    display: block;
    width: auto;
    margin-top: 5px;
    margin-right: 0;
    padding-right: 0;
  }

  li {
    list-style: none;
    text-align: center;
    margin: 0;
    width: 100%;
    display: block;
      
    @include breakpoint(medium) {
      width: auto;
      float: left;
      margin: 0 14px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      font-size: 0.8rem;
      color: #eaeaea;
      padding: 17px 0;
      display: block;
      border: none;
      border-top: 1px solid #35373e;
      transition: color 0.2s linear, background 0.2s linear;

      &:hover {
        background: #333535;
        color: #fff;
        border-color: $yellow;
      }

      @include breakpoint(medium) {
        text-transform: uppercase;
        padding: 5px 0 2px 0;
        border-top: none;
        border-bottom: 1px solid transparent;
        transition: border-color 0.2s linear;
        display: inline-block;

        &:hover {
          background: none;
        }
      }
    }    
    
    &.active {
      a {
        border-color: $yellow;
      }
    }
  }

  &:last-of-type {
    margin-right: 0;
  }
}



// Mobile menu
.menu-button {
  width: 30px;
  height: 18px;
  position: absolute;
  right: 15px;
  display: block;
  cursor: pointer;
  margin-top: 1px;
  transition: top 0.4s ease;

  span {
    height: 2px;
    margin-top: 10px;
    background: #fff;
    display: block;
    position: relative;
    top: 0;
    transition: all 500ms ease-out;

    &:first-child {
      margin-top: 0;
    }
  }

  &.active {
    top: 15px;

    span {
      &:nth-child(1) {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 7px;
      }

      &:nth-child(2) {
        opacity: 0;
        top: 7px;
      }
      
      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        top: -17px;
      }
    }
  }

  @include breakpoint(medium) {
    display: none;
  }
}