@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i');

body {
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h3 {
  text-transform: uppercase;
}

a,p,label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

p {
  color: #696969;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}


input, textarea, select {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  -webkit-appearance: none;
  border-radius: 0;
}